.card__container {
  display: flex;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // &:nth-of-type(odd) {
    //   margin-right: 4rem;
    // }

    // &:nth-of-type(1),
    // &:nth-of-type(2) {
    //   margin-bottom: 20rem;
    // }
  }
}