.home {
  background-image: url('../images/s8.jpg');
  background-color: $bs-overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;

  @media only screen and (max-width: $bp-500) {
    background-color: $bt-overlay;
  }

  .box-1 {
    background-color: $blue-tertiary;
    padding: 5rem 8rem 5rem 15rem;

    @media only screen and (max-width: $bp-800) {
      padding: 3rem 4rem 3rem 15rem;
    }

    @media only screen and (max-width: $bp-500) {
      width: calc(100% + 10rem);
      transform: skew(0deg);
      // background-color: transparent;
    }

    @media only screen and (max-width: $bp-300) {
      // padding: 0;
      overflow: visible;
    }
  }

  .box-2 {
    @media only screen and (max-width: $bp-500) {
      display: none;
    }
  }

  .section-line {
    @media only screen and (max-width: $bp-500) {
      display: none;
    }
  }

  .plus {
    bottom: 30%;
    left: 70%;
    color: $blue-secondary;
    opacity: 0.5;
    z-index: -1;
  }

  .plus--3 {
    bottom: 50%;
    left: 70%;
    color: $blue-secondary;
    opacity: 0.5;
    z-index: -1;
  }

  .box__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    transform: skew(10deg);

    @media only screen and (max-width: $bp-500) {
      // align-items: center;
      transform: skew(0deg);
    }
  }

  .btn {
    margin-top: 3.5rem;
  }

  .section__heading {
    font-size: 5rem;

    @media only screen and (max-width: $bp-800) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: $bp-600) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-500) {
      font-size: 2.5rem;
    }

    &--2,
    .headspan--1,
    .headspan--2,
    .headspan--3 {
      display: inline-block;
      opacity: 0;
    }

    .headspan--1 {
      animation: moveInRight;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    .headspan--2 {
      animation: moveInRight;
      animation-delay: 1.5s;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    .headspan--3 {
      animation: moveInRight;
      animation-delay: 3s;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    &--2 {
      animation: moveInRight;
      animation-delay: 4.5s;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}