.meet-the-millers {
  .hasSameBackground {
    background-image: url('../images/blueprint-texture-[Converted].jpg');
    background-color: $blue-primary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
  }

  .section__heading {
    margin-bottom: 2rem;
  }

  .our-leaders {
    .section__header {
      padding: 0rem 5rem;
    }

    .headline {
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
    }

    .bg-1 {
      // background-position: center;
      // background-size: contain;
      transition: all 0.3s ease-out;
      background-blend-mode: soft-light;
      

      &.leader-1 {
        background-image: url('../images/rachel.jpeg');
        background-color: $bt-overlay;
        width: 110%;

        @media only screen and (max-width: $bp-700) {
          width: 130%;
        }
      }
      &.leader-2 {
        background-image: url('../images/emily.jpeg');
        background-color: $bt-overlay;
        background-position: top;
        width: 110%;
        @media only screen and (max-width: $bp-700) {
          width: 130%;
        }
      }
      &.leader-3 {
        background-image: url('../images/olivia.jpeg');
        background-color: $bt-overlay;
        background-position: top;
        width: 110%;
        @media only screen and (max-width: $bp-700) {
          width: 130%;
        }
      } 

      &:hover {
        background-color: transparent;
      }
    }

    .box-1--25 {
      .box__content {
        display: none;
      }
    }

    .box-2--75 {
      .box__content {
        padding: 5rem 15rem 5rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // transform: skew(-10deg);

        & > * {
          // transform: skew(10deg);
          border-radius: 0.3rem;
          
        }
      }

      .content__heading {
        padding: .5rem 2.5rem .5rem 1.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        backface-visibility: hidden;
        // background-color: $green;
        color: $blue-tertiary;
        // box-shadow: 0rem 1rem 2rem 1rem rgba(0,0,0,.3);
        transition: all 0.3s ease-out;
        transform: translateX(1.5rem);

        &:hover {
          color: $white;
          transform: translateX(1.5rem) translateY(-.5rem);
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .content {
        padding: 1.5rem 2.5rem 1.5rem 2rem;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        // background-color: $white;
        color: $white;
        // box-shadow: 0rem 1rem 2rem 1rem rgba(0,0,0,.3);

        &:nth-of-type(2) {
          transform: translateX(-2rem);
        }

        &:nth-of-type(3) {
          transform: translateX(-4rem);
        }

        @media only screen and (max-width: $bp-700) {
          font-size: 1.4rem;
          margin-bottom: 2rem;
          padding: 0;
        }
      }
    }
    

  }
}